<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AtPulso.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <AtPulso.Properties.Settings>
            <setting name="AutoConnectAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RetryConnectWhenFailed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartServerWhenConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>10110</value>
            </setting>
            <setting name="OutputMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputOrientation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeartRateColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="MinMaxColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="ChartDotsCount" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ChartWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AnimationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BleDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="AnimationSpeedMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnimationFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>cursive</value>
            </setting>
            <setting name="ChartLineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChartLineSmooth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeartRateThresholdChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeartRateThresholdColor" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="HeartRateThreshold" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PreviewBackgroundColor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PreviewAutostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeartRateStyle" serializeAs="String">
                <value>black_border</value>
            </setting>
            <setting name="HeartRateFontSize" serializeAs="String">
                <value>50</value>
            </setting>
        </AtPulso.Properties.Settings>
    </userSettings>
</configuration>
